/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-image: url(https://images6.alphacoders.com/138/thumb-1920-1383004.png);
    background-size: cover;
    background-position: center;
}

#jumbo {
    background-image: url(https://images8.alphacoders.com/131/thumb-1920-1314515.jpg);
    background-size: cover;
    background-position: center;
}